/* header component styles */

header {
  width: 100vw;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: #555F61;
  color: #fff;
  z-index: 2;
}

#header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}

/* main component layout styles */

main {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* content card styles for list component */

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  border-color: lightgray;
  border-width: .5px;
  max-width: 400px;
  margin: .5rem;
  padding: 0;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1rem;
  border-bottom: solid;
  border-color: lightgrey;
  border-width: 1px;
  background-color: #DADEDF;
}

.card-header>h2, h5 {
  margin: 1rem 0 ;
}

.card-header>h2 {
  color: #131516;
}

.card-header>h5 {
  min-width: 90px;
}

.card-body {
  flex-grow: 2;
}

.card-body>img {
  object-fit: contain;
  padding: 1rem;
  float: left;
}

.card-body p {
  font-size: 1rem;
  margin: 0;
  padding: 1rem 1rem;
}

.card-footer {
  clear: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  border-top-style: solid;
  border-color: lightgrey;
  border-width: 1px;
}

/* loader styles */

#loader {
  position: absolute;
  top: 45vh;
  left: 50vw;
}

/* pagination styles */

#pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pagination-container p {
  text-align: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-link {
  margin: .5rem;
  padding: .5rem .75rem;
  font-size: 1rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #fff;
}

.active-page-link {
  color: blue;
  background-color: lightgrey;
}

.page-link:hover, .pag-page-by-page:hover {
  cursor: pointer;
  border-color: lightgray;
}

.page-link:active, .pag-page-by-page:active {
  background-color: yellow;
}


/* footer styles */

footer {
  margin-top: 2rem;
  bottom: 0;
  height: 8rem;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}