header {
  width: 100vw;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  color: #fff;
}

#header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}